@media  (max-width: 1400px) { 
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {
 
    .header_right_menu .navbar ul li a {  
        padding: 10px 18px 10px 18px;
      }
      .wel_to_library hr {
       width: 157px;
      }
      /* index_page_end */
 }

@media (min-width: 768px) and (max-width: 991.98px) {
  .header_right_top {
    text-align:center;
    background-color: #045BBC;
  }
    /* header_section_start */
    .header_right_menu .navbar ul li{
     width: 100%;
    }
    /* header_section_end */
     /* index_page_end */
 }

@media (min-width: 576px) and (max-width: 767.98px) {
      /* header_section_start */
      .header_right_top {
        text-align:center;
        background-color: #045BBC;
      }
      .header_right_menu .navbar ul li{
        width: 100%;
       }
       /* header_section_end */
       
       .banner_title {
        font-size: 44px;
      }
      .banner_para {
        font-size: 20px;
      }
      .wel_to_library hr {
        width: 125px;
    
      }
      .welcome_to_library_item_section_right_up {
        text-align: center;
        padding: 40px 0px 0px 0px;
      }
      .welcome_to_library_item_section_right_down {
        text-align: center;
        padding: 40px 0px 0px 0px;
      }
   /* index_page_end */
   .banner_body {
    padding: 150px 0px 226px 50px;
    background-color: rgba(0,0,100,.5);
  }
 }

@media (max-width: 575.98px) {
    /* index_page_start */
    .header_right_top {
      text-align:center;
      background-color: #045BBC;
    }
    /* header_section_start */
    .header_right_menu .navbar ul li{
        width: 100%;
       }
       /* header_section_end */

       .banner_title {
        font-size: 44px;
      }
      .banner_para {
        font-size: 20px;
      }
      .wel_to_library_title1 {
        padding: 15px 0px 0px 0px;
        font-size: 34px;
      }
      .wel_to_library_title2 {
        font-size: 17px;
      
      }
      .wel_to_library hr {
        width: 125px;
    
      }
      .welcome_to_library_item_section_right_up {
        text-align: center;
        
      }
      .welcome_to_library_item_section_right_down {
        text-align: center;
       
      }
   /* index_page_end */
   
 }